[General]
name = My Translation
projectDir = /path/to/project
# DEBUG INFO WARNING ERROR
logLevel = INFO

[HTML]
frontLogo = /path/to/logo.jpg
websiteURL = http://myhomepage.com
websiteName = My Homepage

[Plain Text]
#
#   Options are ascii utf8
#
encoding=ascii
#
#   Wrap at 80 chars
#
wrapping=true

[Context]
#
#   Options for layout are either doublesided or singlesided
#   Double is for book binding, single for online reading and 
#   printing locally
#
layout = singlesided
#
#   If true, saves a copy of the generated TeX file
#
saveTeX = false
#
#   Set the main font.
#     TeX Gyre Pagella  = Palatino equivalent
#     TeX Gyre Termes   = Times New Roman equivalent
#     TeX Gyre Bonum    = Bookman equivalent
#     TeX Gyre Adventor = AvantGarde equivalent
#     TeX Gyre Schola   = Century Schoolbook equivalent
#   Options other than these may or may not work depending on your fonts
#   installed locally. You may also need to understand how ConTeXt uses
#   fonts. 
#
#   As of 2016/02/22, I still have issues with fonts in .ttc as per
#   http://tex.stackexchange.com/questions/261680/context-only-finds-one-font-style-in-ttc-file?lq=1
#
bodyFont = TeX Gyre Pagella
bodyFontSize = 9pt
coverPage = /path/to/cover.pdf

[ePub]
#
#   Directory where Calibre tools are. This should work for Mac
#
calibre=/Applications/calibre.app/Contents/MacOS
#
#   Path to cover
#
cover = /not/set.jpg
title = Holy Bible
authors = John Translator et al